.banner {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.banner_headline{
color: white;
margin: 20px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.field-label {
    font-weight: bold;
    font-size: 22px;
    padding: 8px;
    margin: 50px;
    font-family: Arial;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(50,100,200,0.5);
  transition: 0.3s;
  width: 25%;
  border-radius: 10px;
  margin: 50px;

}

.field{
    font-weight: bold;
    font-size: 22px;
    padding: 8px;
    margin: 20px;
    font-family: Arial;
}
.field-helptext {
    font-size: 22px;
}
.field-error {
    font-size: 14px;
    color: red;
}
.field-required {
    font-weight: bold;

}
.field-required:after {
    content: " *";
}

.button {
  border-radius: 4px;
  background-color: rgb(33,119,176);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}