
.button {
  background-color: rgb(33,119,176);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 20px;
  cursor: pointer;
  width:130px;

}
.btn-group{
   position: absolute;
   top: 50%;
   left: 50%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(50,100,200,0.5);
  transition: 0.3s;
  width: 40%;
  border-radius: 10px;

}


.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container{
    text-align: center;
}